.box {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: white;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.68);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.68);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.68);
}

.mt-5 {
    margin-top: 5%;
}

.rodape {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}