<div class="container" class="h100" style="background-color: lightblue;">
    <div class="row h100" style="display: grid;place-items: center; margin: auto;">
        <div class="col-md-3 box">
            <form action="" method="post">
                <div class="text-center mt-5"><img src="../../../assets/userIcon.png" alt="Icone" width="150em"></div>
                <h2 class="text-center mt-5" style="font-weight: bold;">Cadastro de Usuários</h2>
                <div class="form-group mt-5">
                    <input type="text" class="form-control" placeholder="Email" required="required">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" required="required">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </div>
                <div class="clearfix rodape">
                    <a href="#">Create an Account</a>
                    <a href="#">Esqueceu sua senha?</a>
                </div>
            </form>
        </div>
    </div>
</div>