.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    min-width: 40%;
    border-radius: 5px;
}

.thumbnail-description {
    min-height: 40px;
}

.row {
    display: grid;
    justify-items: center;
}

h1 span {
    margin-left: 15px !important;
}

th span{
    margin-left: 15px;
    margin-right: 15px;
}

select{
    margin-left: 15px;
}